@inject IExerciseService ExerciseService


<h3>ExerciseList</h3>

@if (ExerciseService.Exercises == null || ExerciseService.Exercises.Count == 0)
{
    <p>@ExerciseService.Message</p>
}
else
{
    <center>
        <div class="row">
            @foreach (var exercise in ExerciseService.Exercises)
            {
                <div class="col-sm-3 card" style="width: 18rem; margin:10px; flex:auto; ">
                    <img class="card-img-top" src="@exercise.gifUrl" alt="@exercise.Name">
                    <div class="card-body">
                        <h5 class="card-title">@exercise.Name</h5>
                        <p class="card-text">Equipment: @exercise.Equipment</p>
                        <p class="card-text">Target: @exercise.Target</p>
                        <p class="card-text">BodyPart: @exercise.BodyPart</p>
                        <a href="/exercise/@exercise.Id" class="btn btn-primary">Checkout this exercise!</a>
                    </div>
                </div>
            }
        </div>
    </center>
}


@code {
    protected override void OnInitialized()
    {
        ExerciseService.ExercisesChanged += StateHasChanged;
    }

    public void Dispose()
    {
        ExerciseService.ExercisesChanged -= StateHasChanged;
    }
}